* {
    font-family: sans-serif;
}

.header {
    background-color: #ffffff;
    min-height: 20vh;
    flex-direction: column;
    color: white;
    margin-left: 'none';
    float: left;
}

.Folksam-logo {
    height: 5vmin;
    color: #009CE0;
    position: absolute; 
    left: 20px;
    top: 10px;
  }